# blacklist
* 
.oh-my-zsh

# whitelist directories to scan
!*/

# whitelist
!.gitignore
!.github
!.gitconfig
!.vscode/extensions
!.bashrc
!.zshrc
!.p10k.zsh

# cosmetics
!.config/neofetch/*

# fonts
!.local/share/fonts/*

# konsave KDE Plasma config files
!.config/konsave/*

# konsole
!.local/share/konsole/*
!.config/konsolerc