# blacklist
* 

# whitelist directories to scan
!*/

# whitelist
!./.gitignore
!.github/**
!.gitconfig

# my wallpapers
!Pictures/Wallpapers/**

# konsave KDE Plasma config files
!.config/konsave/**

# fonts
!.local/share/fonts/*

# konsole themes
!.local/share/konsole/*
!.config/konsolerc